<!DOCTYPE html>
<html ng-app="sheetalDemo">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://rawgit.com/dotansimha/angularjs-dropdown-multiselect/master/src/angularjs-dropdown-multiselect.js"></script>
    <script src="sheetal.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Sample Angular JS Application</title>
</head>
<body>

        <form name="myForm" action="" ng-controller="sheetalController">
            First Name: <input type="text" ng-model="firstName" required>
            <span ng-show="myForm.firstName.$touched && myForm.firstName.$invalid">First Name is required.</span>
            Last Name: <input type="text" ng-model="lastName" required>
            <span ng-show="myForm.secondName.$touched && myForm.lastName.$invalid">Second Name is required.</span>
            Type: <select ng-model="limitToModel" ng-options="x for x in limitToData"></select>
            <button ng-click="submit()">Submit</button>

            <br/>
            <br/>

            <table>
                <th>Id</th>
                <th> Content</th>
                <tr>
                    <td>{{greeting.value.id}}</td>
                    <td>{{greeting.value.joke}}</td>
                </tr>
            </table>
        </form>

</body>
</html>